numpy==1.24.4
astropy==5.2.2
sunpy==4.1.7 # not currently needed
flake8==6.0.0 # for code style
black==23.7.0 # for code style
pytest==7.4.0 # for testing
pytest-astropy==0.10.0 # for testing helpers
pytest-cov==4.1.0 # for testing coverage
pre-commit==3.3.3 # for pre-commit checks
setuptools_scm==6.3.2 # for version number
sphinx==6.2.1 # for documentation
sphinx-automodapi==0.15.0 # for documentation
sphinx-changelog==1.3.0 # for changelog in documentation
sphinx_rtd_theme==1.2.2 # for documentation
ipython==8.12.2 # for easier debugging
hermes_core @ git+https://github.com/HERMES-SOC/hermes_core.git # for hermes instrument packages
boto3==1.28.4 # for aws sdk
awslambdaric==2.0.4 # for use with interfacing with aws lambda
matplotlib==3.7.2 # required by spacepy but best to explicitly install it
scipy==1.10.1 # required by spacepy but best to explicitly install it
spacepy==0.4.1 # for cdf file support
ipykernel==6.24.0 # for jupyter notebook
ccsdspy @ git+https://github.com/ddasilva/ccsdspy.git # for parsing ccsds binary files
